*.sh text eol=lf
*.entries text eol=lf
*.cmd text eol=crlf
*.properties text eol=lf
*.tsv text eol=lf
configurator/shared/jvm/*.args text eol=lf
configurator/shared/*.tsv text eol=lf
configurator/windows/Configurator.Helpers.ps1 text eol=crlf
